{% extends 'basic.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
   
      <h1 class="display-4">Hey, {{ current_user.username }} !</h1>
     
      
      <p class="lead">Create your post in STARK INDUSTRIES BLOG !! </p>
    </div>
  </div>
    <form  method="post">

        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title }}
        {{ form.text.label }} {{ form.text }}
        {{ form.submit() }}

    </form>
    


{% endblock content %}